:root {
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 100%, 100%);
  --gray-200: hsl(270, 3%, 87%);
  --gray-400: hsl(212, 12%, 71%);
  --purple-950: hsl(278, 68%, 11%);
  --input-border: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
}
.space-grotesk-medium {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
input {
  padding-inline: 0;
}
/* .main {
} */
.main__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 153px;
}
.main__card {
  position: relative;
}
.front__card {
  width: 447px;
  height: 245px;
  position: absolute;
  background-image: url(/images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 187px;
  left: 164px;
  z-index: 1;
}
.front__card-logo {
  padding: 28px 0 0 32px;
  margin-block-end: 64px;
}
.front__card-number {
  padding-inline-start: 32px;
  margin: 0 0 25px 0;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.12em;
  color: var(--white);
}
.front__card-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.front__card-data p {
  padding-inline: 32px;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: right;
  color: var(--white);
}
.data-name {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--white);
}

.back__card {
  width: 447px;
  height: 245px;
  position: absolute;
  background-image: url(/images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 186px;
  left: 258px;
  z-index: 1;
}
.back__card-text {
  padding: 100px 57px 0 0;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: right;
  color: var(--white);
}
/* .main__form {
} */
.form {
  width: 381px;
}
label {
  text-transform: uppercase;
  display: block;
  margin-block-end: 9px;
  font-size: 15px;
}
input[type="text"] {
  display: block;
  outline: none;
  width: 100%;
  height: 45px;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  cursor: pointer;
  padding-inline-start: 16px;
  transition: border-color 0.4s ease-in-out;
}
input::placeholder {
  color: var(--gray-200);
}
input:focus {
  outline: 2px solid hsl(263, 66%, 51%);
}
input:focus-visible {
  outline: 2px solid hsl(263, 66%, 51%);
}
.form__name {
  margin-block-end: 26px;
}
.form__number input {
  display: block;
  width: 100%;
  height: 45px;
  border: 2px solid var(--gray-400);
  border-radius: 8px;
  cursor: pointer;
  padding-inline-start: 16px;
  transition: border-color 0.4s ease-in-out;
}
.form__number {
  margin-block-end: 26px;
}
.form__secret {
  margin-block-end: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.form__date {
  margin-inline-end: 20px;
}
.form__date input {
  width: 80px;
  height: 45px;
  border: 2px solid var(--gray-400);
  border-radius: 8px;
  cursor: pointer;
  padding-inline-start: 16px;
  transition: border-color 0.4s ease-in-out;
}
.form__date input:first-of-type {
  margin-right: 5px;
}
.form__cvc input {
  display: block;
  width: 191px;
  height: 45px;
  border: 2px solid var(--gray-400);
  border-radius: 5px;
  cursor: pointer;
  padding-inline-start: 16px;
  transition: border-color 0.4s ease-in-out;
}
.card__confirm {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: var(--purple-950);
  border-radius: 8px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  font-style: italic;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 500px) {
  .main__container {
    grid-template-columns: 1fr;
    row-gap: 86px;
  }
  .front__card {
    width: 286px;
    height: 157px;
    top: 110px;
    left: 10px;
    z-index: 2;
  }
  .front__card img {
       /* или любое значение в пропорции 54:30 */
       width: 72px;
    height: 46px;
    object-fit: cover;
    object-position: center; /* картинка центрируется */
  }
  .front__card-logo {
    padding: 17px 0 0 19px;
    margin-block-end: 37px;
  }
  .front__card-data p,
  .data-name {
    font-size: 9px;
  }
  .back__card {
    width: 286px;
    height: 157px;
    bottom: 66px;
    left: 72px;
  }
  .front__card-number {
    font-size: 18px;
    margin: 0 0 17px 0;
  }
  .back__card-text {
    padding: 63px 35px 0 0;
    font-size: 9px;
  }
  .form {
    width: 321px;
    margin: 0 auto;
    padding-block-end: 45px;
  }
  label {
    font-size: 15px;
  }
  .form__date input {
    width: 64px;
  }
  .form__cvc input {
    width: 162px;
  }
  .form__secret {
    margin-block-end: 28px;
  }
}
