:root {
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 100%, 100%);
  --gray-200: hsl(270, 3%, 87%);
  --gray-400: hsl(212, 12%, 71%);
  --purple-950: hsl(278, 68%, 11%);
  --input-border: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
}
.space-grotesk-medium {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
input {
  padding-inline: 0;
}
.main {
}
.main__container {
  /* padding-inline: 164px; */
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 127px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 127px;
}
.main__card {
  position: relative;
}
.card__front {
  position: absolute;
  top: 187px;
  left: 164px;
}
.card__back {
    
  position: absolute;
  bottom: 186px;
  left: 258px;
}
.back__card-text {
    position: absolute;
    bottom: 280px;
    right: -195px;
    font-size: 14px;
    color: var(--white);
}
/* плагин посмотреть css стили */
.main__form {
}
.form {
  width: 381px;
}
label {
  text-transform: uppercase;
  display: block;
  margin-block-end: 9px;
  font-size: 15px;
}
input[type="text"] {
  display: block;
  width: 100%;
  height: 45px;
  border: 2px solid var(--gray-200);
  border-radius: 5px;
  cursor: pointer;
  padding-inline-start: 16px;
  transition: border-color 0.4s ease-in-out;
}
input::placeholder {
  color: var(--gray-200);
}
.form__name {
  margin-block-end: 26px;
}
.form__number input {
  display: block;
  width: 100%;
  height: 45px;
  border: 2px solid var(--gray-400);
  border-radius: 5px;
  cursor: pointer;
  padding-inline-start: 16px;
  transition: border-color 0.4s ease-in-out;
}
.form__number {
  margin-block-end: 26px;
}
.form__secret {
  margin-block-end: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.form__date {
  margin-inline-end: 20px;
}
.form__date input {
  /* display: block; */
  width: 80px;
  height: 45px;
  border: 2px solid var(--gray-400);
  border-radius: 5px;
  cursor: pointer;
  padding-inline-start: 16px;
  transition: border-color 0.4s ease-in-out;
}
.form__date input:first-of-type {
  margin-right: 5px;
}
.form__cvc input {
  display: block;
  width: 191px;
  height: 45px;
  border: 2px solid var(--gray-400);
  border-radius: 5px;
  cursor: pointer;
  padding-inline-start: 16px;
  transition: border-color 0.4s ease-in-out;
}
.card__confirm {
  width: 100%;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background: var(--purple-950);
  border-radius: 8px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
