:root {
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 100%, 100%);
  --gray-200: hsl(270, 3%, 87%);
  --gray-400: hsl(212, 12%, 71%);
  --purple-950: hsl(278, 68%, 11%);
  --input-border: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%));
}
.space-grotesk-medium {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
